name: Linters

on:
  pull_request:

jobs:
  golangci-lint:
    name: Lint SourceCode
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          cache: true

      - name: Run Linter
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: ./
          args: --timeout 3m
